.header {
    max-width: 100%;
    height: 80px;
}
.logo{
    margin-top: 20px;
}

.header-container {
    max-width: 1280px;
    display: flex;
    flex-direction: row;
    margin-inline: auto;
    justify-content: space-between;
}

.header-container-logo-nav {
    display: flex;
    flex-direction: row;
    gap: 64px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    padding-block: 30px 22px;
    
    a {
        text-decoration: none;
        text-align: center;
        width: 100%;
        height: 28px;
        color: var(--color-custom-black);
        padding-top: 2px;
        font-family: var(--font-muller);
        font-size: 20px;
        font-weight: 700;
        line-height: 100%;
    }

    a:first-child {
        border: #57D272 solid 2px;
    }

    a:hover {
    background-color: var(--color-custom-black);
    color: #FFFFFF;
    transition: 0.3s ease;
    }
}



.wallet-button{
    width: 132px;
    height: 50px;
    margin-top: 15px;
    background-color: var(--color-custom-black);
    border: 5px solid var(--color-custom-black);
    border-radius: 77px;
    color: #FFFFFF;
    font-family: var(--font-muller);
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0%;
    cursor: pointer;
}

.wallet-button:hover{
    background: white;
    transition: background-color 0.3s ease;
    color: var(--color-custom-black);
}
.wallet-button-icon{
    background-image: url('../img/header-footer/account_balance_wallet.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    background-color: #FFFFFF;
    width: 36px; 
    height: 36px;
    cursor: pointer;
    margin-top: 20px;
    display: none;
}


@media(max-width: 1280px)
{
    .header-container{
        margin-inline: var(--margin-50);

    }
}

@media(max-width: 768px){
    .header-container-logo-nav{
        gap: 40px;
    }
}
@media(max-width: 420px){
    .header-container-logo-nav{
        flex-direction: column;
        gap:0px;
        .logo{
            max-width:75px; 
        }
    }
    .header{
        height: auto;

    }
    .navigation{
        gap: 30px;
        padding-block: 15px;
        margin-top: 15px;
        border-top: var(--color-custom-black) 1px solid;
        
       a{
         font-size: 16px;
         max-width: 85px;
         text-align: center;
         vertical-align: middle;
       }
       
       
    }
    .header-container{
        margin-inline:12px;
    }
    .wallet-button{
        display: none;
    }
    .wallet-button-icon{
        display: block;
    }
    .header-container-logo-wallet{
        display: flex;
        justify-content: space-between;
        padding-top: 5px;
    }
}

    
    