.new-sticker-section {
    max-width: 100%;
    height: 684px;
    background-color: var(--color-custom-black);
    padding-top: 90px;
}

.new-sticker-main-container {
    max-width: 1280px;
    margin-inline: auto;
}

.new-sticker-heading {
    font-family: var(--font-russo-one);
    font-weight: bold;
    font-size: 60px;
    line-height: 100%;
    letter-spacing: 0;
    color: white;
}

.new-sticker-heading::before {
    content: '';
    display: inline-block; /* ← inline-block вместо block */
    width: 48px;
    height: 48px;
    background-image: url('../img/new-stickers/new-stickers-fire.svg');
    background-repeat: no-repeat;
    background-size: contain;
    vertical-align: middle; /* ← выравнивание по вертикали */
    margin-right: 16px;
}

.new-stickers-container {
    display: flex;
    flex-direction: row;
    gap: 28px;
    margin-block: 32px 64px;

}

.new-sticker-swiper-container {
    width: 284px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin: 64px auto;
}

.new-sticker-swiper-element {
    width: 56px;
    height: 36px;
    background-color: var(--color-custom-black);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border: 2px solid var(--color-custom-red);
    border-radius: 40px;
    cursor: pointer;
}

.new-sticker-swiper-element:hover {
    background-color: var(--color-custom-red);
    transition: background-color 0.3s ease;
}

@media(max-width: 1280px){
    .new-stickers-container{
        justify-content:center;
        gap: 50px;
    }
    .new-stickers-container img{
        max-width: 600px;
        height: 210px;
    }
    
    .new-sticker-heading{
        padding-left: 55px;
        
    }
    .new-sticker-section{
        height: 600px;
    }
}

@media(max-width: 768px){
    .new-stickers-container{
        flex-direction: column;
        align-items: center;
    }
    .new-sticker-section{
        height: auto;
        padding-bottom: 1px;
    }
    .new-sticker-heading{
        text-align: center;
        padding: 0;
    }
}
@media(max-width: 420px){
    .new-sticker-heading{
        font-size: 30px;
    }
    .new-sticker-heading::before{
        margin-right: 5px;
    }
    .new-sticker-container-third{
        display: none;
    }
    .new-sticker-swiper-container{
        gap: 15px;
        max-width: 268px;
    }
}